@font-face {
  font-family: 'Avignon_Modern';
  src: url('../header/font/Avignon_Modern.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'New_YorkerC';
  src: url('../header/font/New_YorkerC.ttf');
  font-weight: normal;
  font-style: normal;
}