$color-background: rgb(241, 241, 241);
$color-border-li: #3d3d3d;
$color-a: #334350;
$color-a-hover: #000;
$color-text-shadow-a: #ffffff;
$color-background-a-hover: rgb(226, 226, 226);
$background-li-hover-a-hover: #fcfcfc;
$color-box-shadow-li-hover-a-hover: #b2120d;
$color-box-shadow-li-one: rgba(6, 6, 6, 0.42);
$color-box-shadow-li-two: rgba(0, 0, 0, .1);
$color-link: #000;