div.header.section(data-anchor='header')
    div.opacity
    video(data-autoplay repeat webkitallowfullscreen mozallowfullscreen allowfullscreen)
        source(data-src=require('./video/video.mp4'))
    div.block-logo
        img.logo(src=require('./img/logo2.png'))
        h1 АГЕНСТВО ИНТЕРНЕТ МАРКЕТИНГА
        h2.dinamic-text-header
