extends ../../components/head/head

block title
    | methodology

block main
    include ../../components/menu/menu
    div.header-metodology
        div.container-metodology
            div.content-metodology
                h1 МЕТОДОЛОГИЯ РАБОТЫ
    div.content-parelex
        div.client-image
        div.text
            h1 Это вы
            p Вы оставляете заявку
            span Ваша заявка будет следовать...
        div.line-to-bottom